<p id="notice"><%= notice %></p>

<div class="panel panel-primary ">
  <div class="panel-heading">Studiengänge</div>
  <div class="panel-body">
    <table class="table">
      <th>Name</th>
      <% @course_of_studies.each do |course_of_study| %>
      <tr>
        <td><%= course_of_study.name %></td>
        <td><%= link_to 'Anzeigen', course_of_study, class: "btn btn-info" %>
        <%= link_to 'Editieren', edit_course_of_study_path(course_of_study), class: "btn btn-warning" %>
        <%= link_to 'Löschen', course_of_study, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    
    </table>
  </div>
</div>
<br>

<%= link_to 'Neuer Studiengang', new_course_of_study_path, class: "btn btn-success" %>
