<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_of_study.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course_of_study.semester %>
</p>

<%= link_to 'Edit', edit_course_of_study_path(@course_of_study) %> |
<%= link_to 'Back', course_of_studies_path %>
