<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|  %>
    <% if devise_mapping.rememberable? -%>
        <div class="container">
        <div id="login-overlay" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Log in</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-6">
                  <div class="well">
                    <form id="loginForm">
                      <div class="form-group">
                        <label for="username" class="control-label">Email</label>
                        <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address' , :class=>'form-control'%>
                        <span class="help-block"></span>
                      </div>
                      <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <%= f.password_field :password , :placeholder => 'Password', :class=>'form-control'%>
                        <span class="help-block"></span>
                      </div>
                      <div id="loginErrorMsg" class="alert alert-error hide">Wrong password or email</div>
                      <div class="checkbox">
                        <label>
                          <div><%= f.check_box :remember_me %> <%= f.label "Save login" %></div></br>
                          <%= render "devise/shared/links" %>
                        </label>

                      </div>
                      <%= f.submit "Sign in" , :class=>'btn btn-primary btn-block'%>
                    </form>
                  </div>
                </div>
                <div class="col-xs-6">
                  <p class="lead">Register you at<span class="text-success"> the FHNW.</span></p>
                  <ul class="list-unstyled" style="line-height: 2">
                    <li><span class="fa fa-check text-success"></span> Administrator at the FHNW</li>
                    <li><span class="fa fa-check text-success"></span> can register you.</li>
                    <li><span class="fa fa-check text-success"></span> Please ask admin for</li>
                    <li><span class="fa fa-check text-success"></span> further questions.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
</div>
    <% end -%>
<% end %>

</div>
